*{
    box-sizing:border-box;
}
.forgot-container{
    width:90%;
    max-width:420px;
    margin:40px auto;
    background-color: rgba(135,206,235,0.12); 
    padding:25px;
    border:2px solid #00e5ff;
    border-radius:20px;
    box-shadow: 0px 0px 10px rgba(0,229,225,0.2);
}

h1{
    text-align:center;
    color:aqua;
}

label{
    font-weight:bold;
    display:block;
    margin-top:15px;
    color: #2980b9;
}

input{
    width:100%;
    padding:8px;
    margin-top:5px;
    border:2px solid #38bdf8;
    background-color: rgba(255,255,255,0.1);
    border-radius:4px;
    color: white;
}
input:focus{
    border-color:#00e5ff;
    box-shadow:0 0 15px rgba(0,229,255,0.5);
}

button{
    width:100%;
    padding:10px;
    margin-top:20px;
    background-color: #00e5ff;
    color:black;
    font-weight: bold;
    transition: 0.3s;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
button:hover{
    background:#2980b9;
    box-shadow:0 0 20px #00e5ff;
    transform: scale(1.03);
}


@media(max-width:768px){
    .forgot-container{
        padding: 20px;
    }
    h1{
        font-size: 28px;
    }
    input{
        font-size: 14px;
    }
    button{
        font-size: 15px;
    }
}