.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 80px 10px;
    flex-wrap: wrap;
}
.hero-image img{
    width: 450px;
    max-width:100%;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,229,255,0.5);
}
h2{
    font-size:32px;
    color:#7dd3fc;
    text-align: center;
}
.hero-content{
    max-width: 550px;
}
.hero-content h1{
    font-size: 55px;
    color: aqua;
    margin-bottom: 20px;
}
.hero-content h2{
    font-size: 30px;
    color: #7dd3fc;
    margin-bottom: 20px;
}
.hero-content p{
    font-size: 18px;
    line-height: 1.7;
    color: #cbd5e1;
    margin-bottom: 30px;
}
.hero-btn{
    padding: 15px 30px;
    background-color: #00e5ff;
    border:none;
    border-radius: 12px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;   
}
.hero-btn:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px #00e5ff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 2px solid #00e5ff;
    background-color: rgba(135,206,235,0.12);
}
.logo{
    color: white;
    font-size:30px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    display:flex;
    gap: 25px;
}
.nav-links li a{
    text-decoration: none;
    color: white;
    font-size: 18p;
    transition: 0.3s;
}
.nav-links li a:hover{
    color: aqua;
}
.get-btn{
    background-color: #00e5ff;
    color: black;
    padding: 10px 18px;
    border-radius:12px;
    font-weight: bold;
}
.get-btn:hover{
    box-shadow: 0 0 15px #00e5ff;
}
.categories{
    width: 90%;
    margin:70px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card-link{
    text-decoration: none;
    width: 220px;
    max-width:90%;
}
.card{
    background-color: rgba(135,206,235,0.12);
    border:2px solid #00e5ff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    min-height: 220px;
    transition: 0.3s;
    box-shadow: 0px 4px 10px rgba(0,229,255,0.2);
    backdrop-filter: blur(10px);
}
.card:hover{
    transform: scale(1.03);
}
.card h2{
    color:#7dd3fc;
    margin-bottom: 20px;
    font-size: 28px;
}
.card p{
    color:#dbeafe;
    line-height: 1.6;
    font-size:16px ;
}
.menu-toggle{
    display: none;
    font-size: 30px;
    color:white;
    cursor: pointer;
}
@media(max-width:768px){
    .hero{
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }
    .hero-image img{
        width:350px;
    }
    .hero-content h1{
        font-size: 38px;
    }
    .hero-content h2{
        font-size: 24px;
    }
    .hero-content p{
        font-size: 16px;
    }
    .menu-toggle{
        display: block;
    }
    h2{
        font-size: 16px;
    }
    .nav-links{
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        background-color: #050816;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        display:none;
        z-index: 1000;
    }
    .nav-links.active{
        display: flex;
    }
    .card-link{
        width:100%;
    }
    .card{
        min-height: auto;
    }
}