<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='dashboard.css')}}">
    

</head>
<body>

    <nav class="navbar">
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        <div class="logo">AI Tools Hub</div>
        <a href="#about" class="about-link">About</a>
    </nav>
    <div class="overlay" id="overlay" onclick="toggleMenu()"></div>
    <div class="sidebar" id="sidebar">
    <div class="profile-section">
        <div class="profile-avatar">
            👤
        </div>
        <h3>{{ session['username'] }}</h3>
        <p>{{ session['email'] }}</p>
    </div>
    <a href="{{ url_for('home') }}">🏠 Home</a>
    <a href="{{ url_for('myfavourites') }}"> ❤️ Favorites</a>
    <a href="{{ url_for('recent_tools') }}">  🕒 Recently Used</a>
    <button class="category-btn" onclick="toggleCategories()">📂 Categories ▼</button>
    <div class="categories"
         id="categories">
        <a href="{{ url_for('study') }}"> 📘 Study </a>
        <a href="{{ url_for('coding') }}">💻 Coding</a>
        <a href="{{ url_for('design') }}">🎨 Design</a>
        <a href="{{ url_for('career') }}">💼 Career</a>
        <a href="{{ url_for('document') }}">📄 Document</a>
    </div>
    <a href="{{url_for('logout')}}" onclick="return confirmLogout()">🚪 Logout</a>
   </div>
   <div class="main-content">
    <div class="breadcrumb">
        <a href="{{url_for('home')}}">Home</a>>
        <span>Dashboard</span>
    </div>
    <h1>Select category to find best ai tools</h1>
    <hr>
    
    <div class="card-container">
    <a href="{{url_for('study')}}" class="card-link">
    <div class="card">
        <h2>📘 Study</h2>
        <p>AI tools for notes, quizzes, PPTs, summaries, and exam preparation.</p>
    </div>
    </a>
    <a href="{{url_for('coding')}}" class="card-link">
    <div class="card">
        <h2>💻 Coding</h2>
        <p>AI tools for code generation, debugging, DSA, and programming help.</p>
    </div>
    </a>
    <a href="{{url_for('design')}}" class="card-link">
    <div class="card">
        <h2>🎨Design</h2>
        <p>AI tools for logo creation, poster design , UI/UX Inspiration, and Social media content creation.</p>
    </div>
    </a>
    <a href="{{url_for('career')}}" class="card-link">
    <div class="card">
        <h2>💼Career</h2>
        <p>AI tools for Resume building, Interview Preparation, Linkedin bio creation, and internship guidance.</p>
    </div>
    </a>
    <a href="{{url_for('document')}}" class="card-link">
    <div class="card">
        <h2>📄Document</h2>
        <p>AI tools for PDF summarisation, document formatting, translation,OCR extraction and report generation.</p>
    </div>
    </a>
    </div>
    <hr>
    <div class="about" id="about">

        <h2>About AI Tools Hub</h2>

        <p>
            AI Tools Hub helps students discover
            the best AI tools for studying,
            coding, designing, career preparation
            and document management.
        </p>

    </div>
 <hr>
    <footer>
        <p>copyright</p>
        <p>@ 2026 AI Tools Hub |Developed for students to find best AI Tools</p>

    </footer>
    </div>
    <script>
        function toggleMenu(){
            document.getElementById("sidebar").classList.toggle("active");
            document.getElementById("overlay").classList.toggle("active");
        }
        function confirmLogout(){
            return confirm("Are you sure you want to logout?")
        }
        function toggleCategories(){
           document.getElementById("categories").classList.toggle("show");
        }
        

    </script>
 
    </body>
</html>
