<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>favourites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='favourites.css')}}">
    
</head>
<body>
    <div class="breadcrumb">
        <a href="{{url_for('home')}}">Home</a>>
        <a href="{{url_for('dashboard')}}">Dashboard</a>>
        <span>Favourites</span>
    </div>
    <h1 class="title">My Favourites ❤️</h1>
    <hr>
    <div class="favourites-container">
    {% for item in favourites %}
    <a href="{{item[2]}}" target="_blank" class="fav-card">
        <h3>{{ item[0] }}</h3>
        <p>{{ item[1] }}</p>
        <button class="visit-btn">Visit Tool</button>
    </a>
    {% endfor %}
</body>
</html>