<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgotpassword</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='forgotpassword.css')}}">
    
</head>
<body>
    <div class="box">
    <div class="forgot-container">

    <h1>Reset Password</h1>

    <form method="POST">

        <label>Email</label>
        <input type="email" name="email" id="email" placeholder="enter your email">

        <label>New Password</label>
        <input type="password" name="newpassword" id="newpassword" placeholder="enter your password">

        <label>Confirm Password</label>
        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="enter confirm password">

        <button type="submit">Reset Password</button>

    </form>

</div>
</div>
</body>
</html>