<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Tools Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    
</head>
<body>
    
    <nav class="navbar">
        <div class="logo">AI Tools Hub</div>
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        <ul class="nav-links" id="nav-links">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('login')}}">Study</a></li>
            <li><a href="{{ url_for('login')}}">Coding</a></li>
            <li><a href="{{ url_for('login')}}">Design</a></li>
            <li><a href="{{ url_for('login')}}">Career</a></li>
            <li><a href="{{ url_for('login')}}">Document</a></li>
            <li><a href="{{url_for('register')}}" class="get-btn">Get Started</a></li>
        </ul>
    </nav>
    <section class="hero">
        <div class="hero-image">
            <img src="{{url_for('static',filename='images/logo.jpeg')}}" alt="AI Tools Hub Logo">
        </div>
        <div class="hero-content">
            <h1>AI TOOLS HUB</h1>
            <h2>Empowering Students With Smart AI</h2>
            <p>Discover the best AI tools for 
                Studying, coding, designing, career growth, and document management.
            </p>
            <a href="{{url_for('login')}}">
                <button class="hero-btn">Explore tools ➜</button>
            </a>
        </div>
    </section>

            <h2>------------- Explore Top Categories--------------</h2>
            <section class="categories">
                <a href="{{url_for('login')}}" class="card-link">
                    <div class="card">
                    <h2>Study</h2>
                    <p>AI tools for notes, quizzes, PPTs, summaries, and exam preparation.</p>
                    </div>
                </a>
                <a href="{{url_for('login')}}" class="card-link">
                    <div class="card">
                    <h2>Coding</h2>
                    <p>AI tools for code generation, debugging, DSA, and programming help.</p>
                    </div>
                </a>
                <a href="{{url_for('login')}}" class="card-link">
                    <div class="card">
                    <h2>Design</h2>
                    <p>AI tools for logo creation, poster design , UI/UX Inspiration, and Social media content creation.</p>
                    </div>
                </a>
                <a href="{{url_for('login')}}" class="card-link">
                    <div class="card">
                    <h2>Career</h2>
                    <p>AI tools for Resume building, Interview Preparation, Linkedin bio creation, and internship guidance.</p>
                    </div>
                </a>
                <a href="{{url_for('login')}}" class="card-link">
                    <div class="card">
                    <h2>Document</h2>
                    <p>AI tools for PDF summarisation, document formatting, translation,OCR extraction and report generation.</p>
                    </div>
                </a>
        </section>
        <script>
            function toggleMenu(){
                document.getElementById("nav-links").classList.toggle("active");
            }
        </script>


</body>
    
</html>